
.flop-style {
    
    width: 600px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flop-cards {
    width: 50px;
    height: 70px;
    display: flex;
    margin-right: 230px;
    margin-top: 3px;
}

.turn-style {
    /* border: 1px solid red; */
    width: 600px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -120px;
    margin-left: 60px;
}

.river-style {
    /* border: 1px solid red; */
    width: 600px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -120px;
    margin-left: 120px;
}


.flop {
    border: 1px solid rgb(213, 213, 213);
    background-color: rgb(120, 240, 0);
    width: 50px;
    height: 70px;
    display: flex;
    
}

.turn {
    border: 1px solid rgb(213, 213, 213);
    background-color: rgb(120, 240, 0);
    width: 50px;
    height: 70px;
    display: flex;
}

.river {
    border: 1px solid rgb(213, 213, 213);
    background-color: rgb(120, 240, 0);
    width: 50px;
    height: 70px;
    display: flex;
}