.player-style {
    background-color: rgb(90, 181, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 160px;
}
.cards-style {
    
    display: flex;
    justify-content: end;
    align-items: center;
    height: 75px;
    margin-top: 2px;
    margin-right: 4px;
}

.name-style {
    
    color: aliceblue;
    position: absolute;
    display: flex;
    justify-content: end;
    margin-right: 3px;
    margin-top: 70%;
    margin-left: 50%;
}