@import '/node_modules/nes.css/css/nes.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
pre,
code,
kbd,
samp {
  background-color: rgb(104, 209, 0);
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

.br {
  border: 3px solid red;
}

.card-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.log-mazzo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.mazzo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 12px;
}

.table {
  width: 100%;
  height: 100%;
  background-color: chartreuse;
}

.button-style {
  
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;

}

.player-box {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-left {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-right {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nes-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 80px;
}

.button-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 380px;
    gap: 5px;
}

.flop-table {
  background-color: rgb(104, 209, 0);
}